.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color:black;
  /*font-size:16px;*/
  }
  .nav-main > li > a:hover, .nav-main > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color:white;
  /*font-size:16px;*/
  }

  .input-row {
  	margin-bottom: 8px;
  }

  .admin-start-section {
    margin-top: -20px;
  }


  .datatable {
    width:100%;
  }

  .admin-change-password-section {
    margin: 0px auto !important;
  }