.header .header-right {
      float: none;
    }


.header .header-right {
          float: right !important;
          margin-top: 0px;
        }


        body {
  background-color: #ffffff !important;
}

.centered-data {
    text-align:center !important;    
}

.centered-loading-image {
  display:block;
    margin:auto;
}

.navbar-nav > li > a {
    padding-top: 14px;
    padding-bottom: 15px;
}

.change-password-body {
  background-color:#f5f5f5;
}

.login-body-user {
  margin-top: -35px;
}
.file-upload {
  border-color: black;
}

.margin-top {
  margin-top:15px;
}

.margin-up {
  margin-top:-25px;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.btn-filter {
  float:right;
  margin-right: 10px;
}

.toggle-bar {
  margin-top: 8px;
}

.edit-button {
  float: right;
  margin-top: -30px;
}

.profile-rows {
  margin-top:15px;
  margin-left: 0px;
}
.slider_home {
  max-height: 500px;
}


.main_page{
  background-color:white;
  color:black;
}


.profile_status{
  background-color:#f5f5f5;
}

.btn-file {
        position: relative;
        overflow: hidden;
    }

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}


.demo {
    padding-top: 60px;
    padding-bottom: 60px;
}

#user_profile_panel {
    border:1px solid #cfcfcf;
    margin-right: 20px;
    margin-left: -15px;
    margin-top: 15px;
}

.gray-bg {
  background-color: #efefef;
  padding: 0px;
  margin-top:10px;
}

.danger_error {
  border:1px solid red !important;
}

.success_error {
  border:1px solid green;
}

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  padding-bottom: 220px;
  margin-bottom: -230px;
  border-right: 1px solid #000000;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

.interest_div {
  text-align:left;
}

.profile_search_heading {
  color:#4a148c;
}

.profile_search_description {
  color:black;
}

.profile_search_description_head {
  background-color: #4a148c;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}

.profile_search_description_text {
  color: white;
  background-color: #f57f17;
  padding: 10px;
  display: inline-block;
  margin: 0 0 0px;
}

.profile_basic {
  color:#c32143;
}

/*.profile_search_section_head {
  color:#c32143;
  font-weight:bold;
  font-size: 1.2em;
  text-align:justify;
  position: relative;
  display: block;
  padding: 10px 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: 180%;
}*/

.label_div {
  text-align: justify;
}

.upload_a {
  
}

.inner-menu-toggle a, .inner-menu .inner-menu-toggle-inside a{
  width: 144px;
  display: block;
  padding-left: 12px;
  text-decoration: none;
  
}

.upload_a {
  color:#fff;
}

.error {
  color:red;
}

.success-status {
  color:green;
}

.h1_header {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color: #000;
    margin-bottom: 0;
    font-weight: 500;
}

.col_1 {
  position:relative;
  overflow:hidden;
}
.col_1.frame-border {
  background-color:#FFF; 
  border:18px solid #FFF;
}
.col_1 img {
  width:100%;
}
.col_1 .layer {
  position: absolute; 
  margin: auto;
  top: 0; 
  right: 0; 
  bottom: 0;
  left: 0;
  width:100%;
  height:100%;
}
.col_1 .layer.second-image{
  opacity: 0; 
}
.col_1 .layer.opacity-black-overlay{
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.3; 
}
.col_1 .layer.hidden-black-overlay{
    opacity: 0; 
}
.col_1 .layer.photo-caption{
  opacity: 1; 
}
.col_1 .layer.hidden-photo-caption{
  opacity: 0; 
}
.col_1 .layer.border-photo-caption{
  opacity: 1;
  border:1px solid #FFF; 
}
.col_1 .layer.hidden-border-photo-caption{
  opacity: 0;
  border:1px solid #FFF; 
}
.col_1 .layer.link{
  opacity: 1;
}
.col_1 .layer.hidden-link{
  opacity: 0;
}
.col_1:hover .layer.hover-animation.fade-in{
  opacity: 1; 
}
.col_1:hover .layer.hover-animation.half-fade-in{
  opacity: 0.3; 
}
.col_1:hover .layer.hover-animation.fade-out{
  opacity: 0; 
}
.col_1 a:hover{
  color:#000;
  font-weight:bold;
}
/* on Hover Animation */
/* ----------------------------------------------*/
.col_1 img.hover-animation, .col_1:hover img.hover-animation{
  -webkit-transition: all 0.5s; 
    -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
      transition: all 0.5s;
}
.col_1 .layer.hover-animation, .col_1:hover .layer.hover-animation {
/*  -webkit-transition: all 0.5s; 
    -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
      transition: all 0.5s;*/
}
.col_1:hover .layer.hover-animation.duration1,
.col_1:hover img.hover-animation.duration1{
  transition-duration:0.5s;
}
.col_1:hover .layer.hover-animation.duration2,
.col_1:hover img.hover-animation.duration12{
  transition-duration:1s;
}
.col_1:hover .layer.hover-animation.duration3,
.col_1:hover img.hover-animation.duration3{
  transition-duration:1.5s;
}
.col_1:hover .layer.hover-animation.duration4,
.col_1:hover img.hover-animation.duration4{
  transition-duration:2s;
}
.col_1:hover .layer.hover-animation.duration5,
.col_1:hover img.hover-animation.duration5{
  transition-duration:2.5s;
}
.col_1:hover .layer.hover-animation.delay1,
.col_1:hover img.hover-animation.delay1{
  /*transition-delay:0.5s;*/
  background-color: rgba(255, 255, 253, 0.5);
}
.col_1:hover .layer.hover-animation.delay2,
.col_1:hover img.hover-animation.delay2{
  /*transition-delay:1s;*/
      background-color: rgba(255, 255, 253, 0.5);
}
.col_1:hover .layer.hover-animation.delay3,
.col_1:hover img.hover-animation.delay3{
  transition-delay:1.5s;
}
.col_1:hover .layer.hover-animation.delay4,
.col_1:hover img.hover-animation.delay4{
  transition-delay:2s;
}
.col_1:hover .layer.hover-animation.delay5,
.col_1:hover img.hover-animation.delay5{
  transition-delay:2.5s;
}
/* 09.3.3 on Hover Zoom In             */
/* ----------------------------------------------*/
.col_1:hover img.hover-animation.image-zoom-in {
  -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1);
     -o-transform: scale(1.1);  
      transform: scale(1.1);    
}

/* 09.3.4 on Hover Zoom In and Rotate     */
/* ----------------------------------------------*/
.col_1:hover img.hover-animation.image-zoom-rotate {
  -webkit-transform: rotate(7deg) scale(1.1);
    -ms-transform: rotate(7deg) scale(1.1);
     -o-transform: rotate(7deg) scale(1.1);  
      transform: rotate(7deg) scale(1.1);     
}
.hover_alignment{
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
}
.center-middle {
    vertical-align: middle;
    text-align: center;
    margin: 50% 0 0 0;
    font-size: 22px;
}
/* 09.3.5 on Hover Fade Out            */
/* ----------------------------------------------*/
.col_1:hover img.hover-animation.image-fade-out {
  opacity:0;
}
a.button.outline, span.button.outline, input[type=submit].outline {
    background-color: transparent;
    border: solid 1px #FFF;
    color: #FFF;
    padding: 4px 7px;
    font-size: 11px;
}
.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}
.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}
.nbs-flexisel-inner {
  overflow: hidden;
  margin: 0 auto;
  width:90%;
}
.nbs-flexisel-item {
  float: left;
    padding: 0px;
    position: relative;
    line-height: 0px;
    margin-left:5px;
    min-height: 220px;
    min-width:171px;
}
.nbs-flexisel-item:first-child{
  margin-left:0;
}
.nbs-flexisel-item > img {
  cursor: pointer;
  position: relative;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    position: absolute;
  cursor: pointer;
  z-index: 100;
  margin-top:0px;
}
.nbs-flexisel-nav-left{
  left: 0px;
}
.nbs-flexisel-nav-left:after{
  text-shadow: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'fontawesome';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color:#c32143;
    content: "\f104";
    display: inline-block;
    font-size: 50px;
    position: relative;
    top:-40px;
}
.nbs-flexisel-nav-right {
  right: 0px;
}
.nbs-flexisel-nav-right:after{
   text-shadow: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'fontawesome';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color:#c32143;
    content: "\f105";
    display: inline-block;
    font-size: 50px;
    position: relative;
    top:-40px;
}
ul#flexiselDemo3 h3{
   font-size:12px;
   line-height:1.8em;
   margin: 1em 0 0 0;
}
ul#flexiselDemo3 h3 a{
  color:#000;
}
ul#flexiselDemo3 h3 a:hover{
   color:#c32143;
}
span.m_3{
  color:#c32143;
}

.profile_data {
  color:black;
}

.profile_data_div {
  border: 1px solid blue;
}

.slider_image {
  width:200px;
  height:175px;
}

.nbs-flexisel-nav-left:after {
  top: 62px;
}

.nbs-flexisel-nav-right:after {
  top: 62px;
}

.profile_img {
  max-width:100%;
  max-height:400px;
}

.error_404_text {
  color:#ab47bc;
}

.start_section {
  margin-top: -34px;
  margin-left: -13px;
}

.admin_start_section {
  margin-top: -50px;
  margin-left: -13px;
}

.doc-image {
  width:200px !important;
  height:200px !important;
}

.red_text {
  color:red;
}

.img_preview {
  width: 175px;
}

.panel_head {
  color:white;
}

.heading_page {
  color: #ab47bc;
  margin-top: 15px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.profile_div{
  border: 1px solid #ab47bc;
  width: 100%;
  display: inline-block;
  padding: 10px 0;
  color:#5e35b1;
  height:100%;
}

.profile_div a{
  color:#5e35b1;
}

.profile_info_data {
  color:#000;
}

.cover_rows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.cover_cols {
  display: flex;
  flex-direction: column;
  margin-bottom:15px;
  margin-top:15px;
}

.comman_form_element {
  margin-bottom:20px;
}

.comman-advanced-search-filter {
  padding: 0;
  margin-top:5px;
}

.advanced-filter_data_div {
  /*margin-left: -17px;*/
  color:white;
}

.age_form_element {
  width:97%;
}

.login-body {
  background: #ecedf0;
  width: 100%;
}

.url-path {
  background-color: #ecedf0;
}

.tab-links:hover {
  color:black;
}

.inner-tab {
  width:100%;
}

.div-header {
  background-color: #4db6ac;
  color: white;
  font-size: x-large;
  padding: 10px;
  width:100%;
}

.div-header-row {
  padding: 10px;
}

.header-btn {
  float: right;
  margin-top: -3px;
}

    .myTable tr:hover:not(.headerStyle):hover 
    {
        background-color: #ddd;
    }
    .headerStyle 
    {
        color: #ffffff;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        background-color: #07889b;
        vertical-align: middle;
    }

    

    table.responsive-table 
    {
        display: table;
        /* required for table-layout to be used (not normally necessary; included for completeness) */
        table-layout: fixed;
        /* this keeps your columns with fixed with exactly the right width */
        width: auto;
        /* table must have width set for fixed layout to work as expected */
        height: auto;
    }

    #footer
    {
    text-align: center;
    padding: 10px;
    }

    #datatable-info
    {
    border-collapse:collapse;
    font-family: arial,verdana;
    }

    #datatable-info th
    {
    color: #000;
    background-color: #e8e8e8;
    font-weight: bold;
    height: 30px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: bottom;
    } 

    #datatable-info td
    {
    text-align: left;
    vertical-align: middle;
    height: 20px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    }

    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
      #datatable-info 
      {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        width: 350px !important;
      }

      #myorder-table 
      {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
      }
      
      .container {
          margin-left: -7px;
          padding-left: 0px;
          padding-right: 0px;
      }
      
      #LocationAttributes
      {
          margin-left: 9px;
      }
    }

    #invite_friends_table td
    {
    text-align: left;
    vertical-align: middle;
    /*height: 20px;
    font-size: 12px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    }

.enable-disable {
  color:#ffffff;
}

.edit-master-div{
  border: 1px solid #c2c2c2;
  display: inline-block;
  color:#000000;
  margin-right: 2px;
}

.toggle.btn {
  min-width: 100px;
  margin-top: -1px;
}

.toggle-on {
  background-color: #990ef5 !important;
}

.add-item-model {
  display: inline-block;
  padding: 10px;
  color:#000;
  margin: 115px 400px;
}

.add-item-model-template {
  display: inline-block;
  padding: 10px;
  color:#000;
  margin: 11px 175px;
  width: 85%;
}

.membership-plan-model {
  width: 845px;
  margin-left: 326px;
  margin-top: 80px;
  display: inline-block;
  padding: 10px;
  color: #000000;
}

.country-select-option {
  width: 100%;
}

.admin_add_model {
  margin-top: -86px;
}    

.home-page-banner-img {
  height: 80px;
}

.homepage-popup {
  height: 80px;
}

.register-btn-fg-password {
  text-align:center;
  border-right:1px solid #0088cc;
  margin-top:10px;
}

.login-btn-fg-password {
  text-align:center;
  margin-top:10px;
}

.forgot-btn-fg-password {
  text-align:center;
  margin-top:10px;
}

.modal-header .close {
  margin-top: -25px;
}

/*prabhat's css starts*/
.looking-for-create-account{
  background-color: #a186d8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.home-hero-section{
  position: relative;
}
p{
  font-size: 13px;
  line-height: 22px;
}
.home-search-box{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 45%;
  padding: 20px 20px;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #000;
}

.home-search-box .form-control{
  margin-bottom: 15px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 600;
}

#hero-search{
    width: 100%;
    height: 35px;
    background-color: #5e35b1;
    border: 2px solid #5e35b1;
    color: #ffffff;
}
.copy-rights-text{
  color: white;
}
.credits{
  color: white;
}
.create-account-right-block .register{
  color: #ffffff;
}
.looking-for-left-block .looking-for{
  color: #ffffff;
}
.credits a{
  color: #cccccc;
}
.main-footer{
  background-color:#5e35b1;
  padding: 15px;
}
.create-account-right-block{
  background-color: #a596c3;
}

.home-search-filter-label {
    font-size: 13px;
    color: white;
    font-weight: 600;
    
  }

  .home-search-filter {
    color:black;
  }

  .home-search {
    padding-bottom: 50px !important;
  }

/* Layout Base - Sidebar Left Opened ( Larger than mobile ) */
@media only screen and (max-width: 480px) {
  .home-search-box {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #000;
    height: 50%;
    margin-left: 8px;
  }

  .home-hero-section {
    position: relative;
  }
  
  .home-search-filter {
    color:black;
  }

  .mobile-top {
    font-size: x-large !important;
  }

  .home-search {
    padding-bottom: 20px !important;
  }

  .login-body {
      background: #ffffff !important;
  }
  /*.common-row-div {
    margin-left: 30px;
    margin-right: -27px;
  }

  .login-body {
    margin-left: 30px;
  }*/
}
/*  Prabhat css end */



.advanced-filter-hr {
  margin: 5px 0 5px 0;
}

.home-advanced-profile-div {
  border: 1px solid #ab47bc;
  width: 100%;
  display: inline-block;
  padding: 0px 13px;
  color: #5e35b1;
  height: 100%;
}

.home-advanced-panel-body {
  padding: 15px 34px;
}

.home-advanced-profile-img
{
    height: 100px;
}

.search-profile-filter {
  padding: 0px 10px 0px 0px;
  margin-left: 10px;
  margin-top: -24px;
}

.row-without-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.home_start_section {
  margin-top: 15px;
}

.button-white-text {
  text-decoration: none;
  color:#fff !important;
}

.profile-utility-button {
  width:100%;
}

.cover_cols_datatable {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: -7px;
}

@media only screen and (max-width: 480px) {
  .row-without-margin {
    margin-top: -33px;
  }

  .home_start_section {
    margin-top: -33px;
  }

  .searched-profile-desc {
    padding: 14px;
  }

  .profile-utility-button {
    width:100%;
    height:54px;
  }
}

.tbl-profile table { 
  width: 100%; 
  border-collapse: collapse; 
}


.tbl-profile td { 
  border: 1px solid #dddddd; 
  text-align: left; 
}

.tbl-profile tr:nth-of-type(even) { 
  background: #fff; 
}

.tbl-profile tr:nth-of-type(odd) { 
  background: #fff; 
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  .tbl-profile table, .tbl-profile tbody, .tbl-profile td { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  
.tbl-profile tr:nth-of-type(even) { 
  background: #fff; 
}

.tbl-profile tr:nth-of-type(odd) { 
  background: #fff; 
}

  .tbl-profile tr { border: 1px solid #ccc; }
  
  .tbl-profile td { 
    /* Behave  like a "row" */
    border: none;
    border: 1px solid #dddddd; 
    /*position: relative;
    padding-left: 50%; */
  }
  
  .tbl-profile td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    white-space: nowrap;
  }
  
  .profile-seperator-mobile {
    display:block !important;
    height: 2px;
    background-image: -webkit-linear-gradient(left, transparent, rgb(94, 53, 177), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(94, 53, 177), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(94, 53, 177), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(94, 53, 177), transparent);
  }
  
  .start-section-interested-profiles {
    margin-top: -5px !important;
    margin-left: -22px !important;
    margin-right: 3px !important;
  }

  .edit-master-div{
    width: 99%;
  }
}

/*body .btn-view-profile {
  background-color: #5e35b1;
  border-color: #5e35b1;
}*/

.profile-main-page {
  margin-top: -55px;
  color: black;
  margin-left: -45px;
  margin-right: -28px;
}


.my-prefernces-start-section {
  margin-top: -10px;
  margin-left: -12px;
  margin-right: -12px;
  padding: 11px;
}

.my-matches-start-section {
  margin-top: -35px;
  margin-left: -27px;
  margin-right: -27px;
}

.profile-seperator-mobile {
  display:none;
}

.profile-img-slide {
  width:215px;
  height:215px !important;
  margin:0 auto;
  object-fit: cover;
}

.start_section_search_categories{
    margin-top: -40px;
    margin-left: -20px;
}

.adv-search-result-div {
  margin-left: -26px !important;
  margin-right: -26px;
}

.profile-show-text {
  color:#5e35b1 !important;
}

.start-section-interested-profiles {
  margin-top: -34px;
  margin-left: -13px;
}

.footer-grey-text {
  color:#dedcdd !important;
}

.my-photo-alert {
  padding: 5px; 
  margin-bottom: 10px;
  margin-top: 20px;
}

.invite-friends-start-section {
  margin-top:-45px;
}

.invited-email-textarea{
  width:100%;
}

.user-dashboard-glyphicon {
  position: relative;
  top: -8px;
}

.widget-summary .user-dashboard-summary-icons {
  width: 70px;
  height: 70px;
  margin-top: 12px;
}

.user-profile-fieldset {
  margin-left: -30px;
  border: none;
}

.user-profile-data {
  margin-top: -37px;
}

.admin-start-section {
  margin-top: 50px !important;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .user-profile-data 
  {
    margin-top: 0px;
  }

  .user-profile-thumb 
  {
    width:100%;
    text-align:center;
    bottom: -5px !important;
  }

  .logged-in 
  {
    color:#ffffff;
    padding: 0px !important;
    border: 0px !important;
  }

  .start_section
  {
    margin-top:0px;
  }

  .start-section-show-profile {
    margin-top: -20px;
  }

  .admin-start-section {
    margin-top: 30px !important;
  }

  .advanced-search-result-header {
    margin-left: 5px;
  }

  .phone-with-country-code {
    margin-left: 15px;
    margin-right: 15px;
  }
  
    .register-panel-heading {
      padding: 0px;
      background-color:#ffffff !important;
    }
    
    .register-panel-body {
      background-color:#ffffff !important;
    }
    
    .register-panel-footer {
      background-color:#ffffff !important;
    }
    
     .member-login-box {
         margin-left: 8px !important;
     }
}

.user-dashboard-profile-summary {
  margin-top:-10px;
  float: left;
}

.user-dashboard-start-section {
  margin-top: -66px;
}

.logged-in {
  margin: 0 -25px 10px;
  float: right;
  padding: 5px;
  border: 2px solid #5e35b1;
  color: #fff;
  background: #5e35b1;
}

.user-dashboard-profile-complete-icons {
    width: 70px !important;
    height: 70px !important;
    margin-top: 12px;
}

.widget-summary .user-dashboard-profile-complete-icons {
    font-size: 2.2rem;
}

.profile-percent {
    line-height: 72px !important;
    margin-left: -70px;
}

.profile_complete_seperate_hr {
  margin: 9px 0 2px 0;
}

.hyperlink-no-decoration {
  text-decoration:none !important;
}

.title-login-forgot {
  letter-spacing: 0.8px;
  word-spacing: 3px;
  font-family: sans-serif;
}

.setting-devider {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #000000;
}

.password-notification {
  background-color: #efefef;
  padding: 7px;
  color:red;
}

.logged_in {
  color:white;
}

#my_preferences {
    border: 1px solid #dddddd;
  }

.advanced-search-filter {
  margin-top: -35px;
  border: 1px solid #dddddd;
  padding: 20px;
  margin-left: -35px;
}

.advanced-search-result-header {
    padding: 17px;
    overflow-x: auto;
  }

.advanced-search-header {
  margin-top: -20px;
  padding: 8px;
  margin-left: -5px;
  margin-right: -5px;
}

.user-page-top-header {
  padding-top: 58px;
  margin-top: 6px;
}

.start_section_my_photos {
  margin-top: -35px;
  margin-left: -35px;
}

.searching-for-country {
  margin-top: 5px;
}

.body-sign {
  /*margin: 25px auto !important;*/
}


.main-section-start {
    margin-top: 80px;
    margin-left: 20px;
}

.advanced-search-filters {
  margin-left: 15px !important;
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .searching-for {
    margin-top: 3px;
  }

  .advanced-search-filter {
    margin-top: -18px;
    border: 1px solid black;
    padding: 21px;
    margin-left: -14px;
    width: 108%;
  }

  .adv-search-result {
    margin-top: 5px;
    margin-left: -28px;
    margin-right: -28px;
  }

  .logged_in {
    display:none;
  }

  .main-section-start {
    margin-top: 81px;
  }

  .start_section_my_photos {
    margin-top: -20px;
    
  }

  #my_preferences {
    border: 1px solid #dddddd;
    margin-top: 0px;
    margin-left: -13px;
    margin-right: -13px;
    padding: 0px;
  }

  .my-matches-start-section {
    margin-top: -19px;
    margin-left: 0px;
    margin-right: 0px;
  }

  #my_preferences_selection {
    border: 1px solid;
    margin-top: 0px !important;
    margin-left: -18px !important;
    padding: 0px !important;
    margin-right: 1px !important;
  }

  .leaderboard-ad {
    text-align: left !important;
  }

  .skyscrapper-ad {
    display:none;
  }
  
  .free-registration-ad {
    display:none !important;  
  }

  .invite-friends-div-start {
    margin-top: -8px;
    margin-left: -40px;
  }

  .invite-friends-table-div {
    margin-left: -7px;
  }

  .matched-profile-heading {
    margin-left:15px;
  }

  .add-item-model {
    margin: 0px 0px; 
  }

  .start_section_search_categories{
    margin-left: -13px;
    margin-right: -14px;
  }

  .back-button {
    clear: both;
    margin-top: -12px;
    position: absolute;
  }

  .register-panel {
    margin-left: 15px !important;
    margin-right: 15px;
    margin-top: -65px;
  }

  .body-sign .panel-sign {
    margin-left: -11px;
    margin-right: -27px;
  }

  .free-register-panel {
    margin-top: 28px !important;
    margin-right: -15px;
    margin-left: -15px;
  }

  .inline-form-search {
    margin-top: 6px !important;
  }

  .home-search-country {
    width:80%;
    margin-left: 40px;
    /*margin-top: -44px;*/
  }

  .search-age {
    margin-top: -41px;
  }

  .search-div {
    margin-bottom: -13px !important;
    padding-left: 20px !important;
  }

  body {
    background-color:#ffffff !important;
  }

  section .body-sign {
    background-color:#ffffff !important;
  }

  .body {
    background-color:#ffffff !important;
    /*width: 104% !important;*/
    margin-left: 2px !important;
  }

  .navbar-toggle {
    margin-top: 10px !important;
    margin-right: 24px !important;
  }

  .navbar-nav {
    margin: -0.5px -14px !important;
  }

  .password-notification {
    margin-top: 10px;
  }
  
  .page-header{
    margin: 0px -295px 40px -16px !important;
  }

  .back-to-top {
    z-index:100;
  }

  .leaderboard-ad {
    max-width:350px;
    text-align: center;
  }

  .leaderboard-ad img {
    max-width:350px;
    height:auto;
  }
  
  .looking-for-gender {
        margin-bottom: 36px;
    }
}

.page-header {
    margin-right: -297px;
}

.adv-profile-error {
  padding: 5px;
  margin-bottom: -5px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 11px;
}

.my-profile-details {
  margin-top: -50px;
}

#my_preferences_selection {
  border: 1px solid #cfcfcf;
  margin-top: 0px;
  padding: 10px;
  margin-right: -10px;
}

.about {
  background-color:white;
}

.leaderboard-ad {
  width:728px;
  height:90px;
  text-align: center;
}

.leaderboard-ad img {
  height:100%;
}

.squarepopup-ad {
  width:250px;
  height:250px;
}

.squarepopup-ad img {
  width:100%;
  height:100%;
  margin-left: 15px;
}

.squarepopup-ad-adv-search-result {
  width:250px;
  height:250px;
}

.squarepopup-ad-adv-search-result img {
  width:100%;
  height:100%;
  
}

.skyscrapper-ad {
  width:160px;
  height:600px;
}

.skyscrapper-ad img {
  height:100%;
}

.invite-friends-div-start {
  margin-top: -30px;
  margin-left: -57px;
}

.invite-friends-table-div {
  margin-left: -25px;
}

.my-preference-result {
  margin-top: -22px;
  padding:0px;
}

.shorlisted-result {
  margin-top: -40px; 
}

.register-panel {
  margin-left: 30px;
}

.tbl-profile table{
  width:100%;
}

.profile-row {
  margin-top: 10px;
}

.admin-view-profile {
  margin-top: -180px;
}

.identity-doc-row {
  margin-top: -40px;
}

.profile-liked-user {
  background-color: #e9e9e9;
  font-weight: 700;
  color: green;
  padding: 5px;
}

.profile-view-user {
  background-color: #e9e9e9;
  font-weight: 700;
  color: #6e6a6a;
  padding: 5px;
}

.href-black {
  color:#000000;
  text-decoration: none;
}

.note-indication {
  padding: 5px; 
  margin-bottom: 10px;
  margin-top: 2px;
  background-color:#f0f0f0;
}

.all-mandatory-text {    
  color:red;
  margin-top:-50px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 48px !important;
  z-index: 100;
}

.important-links {
  margin-left: 12px;
}

.social-sharing-div {
  padding:5px;
  margin:10px;
}

.free-register-panel {
  margin-top: -40px;
}


.myself-note {
  margin-left: 15px;
  background-color: #efefef;
}

.member-photos {
  height:133px !important;
}

.login-box {
  padding-top: 70px !important;
}

.contact-us {
  margin-top: 15px;
}

.page-header-search {
  margin-top: 35px;
}

.searching-for {
    display: inline-block;
    max-width: 100%;
    margin-right: 10px;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 5px;
}

.inline-form-search {
  display: inline-block;
  padding: 5px;
  margin-top: 25px;
}

.homepage-gender {
  margin-top: -3px !important;
}

.homepage-search-div {
  padding-right: 0px;
  text-align: justify;
}

.search-div {
  margin-bottom: -28px;
  padding-left: 55px;
}

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
    /*padding: 0 200px 0 200px;*/
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: #000000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid black;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}


.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.profile-usertitle-name {
  padding-top: 40px;
}

a.profile_anchor,a.profile_anchor:hover {
    color:#000000;
    text-decoration:none;
  }



.liked-profile-result {
  margin-left: 7px;
}

/****** All form elements border 1px black    *****/
.form-control {
  border: 1px solid #000000;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 0px;
    display:none;
}

.tbl-profile {
  width:100%;
}

.add-meta-tag-button {
  margin-top:-85px !important;
}

.right-breadcrumbs {
  margin-left: 850px !important;
}

.no_of_months {
  height: 38px !important;
  padding: 9px !important;
}

.profilefilter {
  margin-top:5px !important;
}

/*********   Check-box & Radio buttons   ************/
  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
        /***********  show profile   ************/
      input[type=checkbox]
      {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        padding: 8px;
      }

      input[type=radio]
      {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        padding: 8px;
      }
  }

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 8px;
}

input[type=radio]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 8px;
}

/***************    Homepage Pop-up box    ****************/
.img-replace {
    /* replace text with an image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%; 
    color: transparent;
    white-space: nowrap;
  }
  .bts-popup {
    position: fixed;
    left: 0;
    top: -95px;
    height: 125%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
  }
  .bts-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }

  .bts-popup-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: none; 
    text-align: center;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);*/
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  
  .bts-popup-container p {
    color: white;
    padding: 10px 40px;
  }
  .bts-popup-container .bts-popup-button {
    padding: 5px 25px;
    border: 2px solid white;
    display: inline-block;
    margin-bottom: 10px;
  }

  .bts-popup-container a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }

  .bts-popup-container .bts-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
  }
  .bts-popup-container .bts-popup-close::before, .bts-popup-container .bts-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 16px;
    height: 3px;
    background-color: white;
  }
  .bts-popup-container .bts-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
  }
  .bts-popup-container .bts-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 6px;
    top: 13px;
  }
  .is-visible .bts-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .popup-image {
    width:600px;
    height:auto;
  }

  .popup-close {
    font-size: 25px !important;
    opacity: 1 !important;
  }

  .popup-close:hover, .popup-close:focus {
    color:#ffffff;
  }

  @media only screen and (min-width: 1170px) {
    .bts-popup-container {
      margin: 14em auto;
    }
  }

  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
    .popup-image {
      width:106%;
      height:auto;
    }

    .bts-popup {
      top:130px;
      height: 100%;
      background: transparent;
      width: 99%;
      margin-left: 3px;
    } 

    .popup-close {
      font-size: 25px !important;
      opacity: 1 !important;
      margin-right: -25px;
      margin-top:-25px;
    }

    .bts-popup-container {
      right: 14px;
    }
}

.admin-body-sign {
  margin-top: -625px !important;
  height: 90vh !important;
}


.body-sign .admin-center-sign {
  padding-top: 0px !important; 
  vertical-align: none !important;
}

#EditProfileModel {
  margin-left: -130px;
}

.interested-prodpects-result {
  margin-left: 22px;
}

.looking-for-radio {
  margin-top:0px;
}

.homepage-gender-search {
  display: inline-flex !important;
  padding: 0px 200px -2px 115px !important;
  margin-bottom: -2px !important;
}

.featured-no-of-moths-select {
  border: 1px solid #000000;
}

.member-profile-image {
  /*width: 225px;
  height: 225px;*/
}

.contact-us-page {
  padding:30px;
}

/*********   Member profile card   ************/
  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
        /***********  show profile   ************/
      .card {
        max-width: 338px !important;
      }

        /************  advanced search result   *************/
      .card-advanced-search-result {
        max-width: 360px !important;
        margin-left: 5px !important;
      }

        /***********   My matches    **************/
      .card-my-matches {
        max-width: 360px !important;
        margin-left: 2px !important;
      }

        /*************   Blocked profiles   *************/
      .card-blocked-profiles {
        max-width: 360px !important;
        margin-left: 22px !important;
      }

        /*************   Shortlisted profiles   *************/
      .card-shortlisted-profiles {
        max-width: 360px !important;
        margin-left: 22px !important;
      }
        /*************   Matched Profiles with criteria   **************/
      .card-matched-profiles {
        max-width: 360px !important;
        margin-left: 20px !important;
      }

        /*************   Interested profiles   *************/
      .card-interested-profiles {
        max-width: 360px !important;
        margin-left: -4px !important;
      }

        /*************   Liked Profiles   **************/
      .card-liked-profiles {
        max-width: 360px !important;
        margin-left: -4px !important;
      }

        /**************  Homepage search location profiles   *****************/
      .card-search-location-profiles {
        max-width: 348px !important;
        margin-right: 5px !important;
        margin-top: 23px !important;
        margin-left: 13px !important;
      }

      .card-search-location-profiles img {
        width:100%;
        height: 100%;
        top:0;
        left: 0;
        position: absolute;
        vertical-align:top;
      }

      .admin-body-sign {
        margin-top: 45px !important;
      }

      .body-sign .panel-sign {
        margin-left: -11px;
        margin-right: -13px;
      }
  }

  /***********  show profile   ************/
  .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
      max-width: 305px;
      text-align: center;
      border: 1px solid #dddddd;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-right: 28px;
      margin-top: 28px;
  }

  .card-faq {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
      max-width: 100% !important;
      text-align: center;
      border: 1px solid #dddddd;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-right: 28px;
      margin-top: 28px;
  }

  /************  advanced search result   *************/
  .card-advanced-search-result {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
      max-width: 270px;
      text-align: center;
      border: 1px solid #dddddd;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-right: 30px;
      margin-top: 30px;
  }

  /***********   My matches    **************/
  .card-my-matches {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
      max-width: 300px;
      text-align: center;
      border: 1px solid #dddddd;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-left: 25px;
      margin-top: 25px;
      margin-right: 25px;
      margin-bottom: 25px;
  }

  /*************   Blocked profiles   *************/
  .card-blocked-profiles {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
      max-width: 260px;
      text-align: center;
      border: 1px solid #dddddd;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-right: 20px;
      margin-top: 20px;
      margin-left: 10px;
  }

  /*************   Interested profiles   *************/
  .card-interested-profiles {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
      max-width: 260px;
      text-align: center;
      border: 1px solid #dddddd;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-right: 20px;
      margin-top: 20px;
      margin-left: 10px;
  }

  /*************   Shortlisted profiles   *************/
  .card-shortlisted-profiles {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
      max-width: 265px;
      text-align: center;
      border: 1px solid #dddddd;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-right: 10px;
      margin-top: 20px;
      margin-left: 10px;
  }

  /*************   Matched Profiles with criteria   **************/
  .card-matched-profiles {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
      max-width: 310px;
      text-align: center;
      border: 1px solid #dddddd;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-right: 25px;
      margin-top: 35px;
      margin-left: 10px;
  }

  /*************   Liked Profiles   **************/
  .card-liked-profiles {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
      max-width: 265px;
      text-align: center;
      border: 1px solid #dddddd;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-right: 10px;
      margin-top: 20px;
      margin-left: 10px;
  }

  /**************  Homepage search location profiles   *****************/
  .card-search-location-profiles {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
      max-width: 255px;
      text-align: center;
      border: 1px solid #dddddd;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-right: 10px;
      margin-top: 23px;
      margin-left: 13px;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .profile-view-link {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  .member-profile-info-row {
    padding-right:5px;
    padding-left:5px;
  }
/******************    Member profile card end    ****************/

.advanced-search-result-main-area {
    padding-right: 0px !important; 
}

.change-password-body-sign {
  margin-top: -50px !important;
}


/*******************    Payment methods    *********************/
.payment-method-card {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,1);
  transition: 0.3s;
  max-height: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;  
}

.payment-method-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.payment-card {
  margin-top:20px;
}


/*******************     Payment receipt    *****************/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
      .payment-summary-well {
          margin-left: 9px;
        }
  }
  
.payment-summary-well {
  background-color: #ffffff;
}

.payment-logo-row {
  background-color: #dddddd;
  margin-top: -18px;
  margin-left: 0px;
  margin-right: 0px;
}

.payment-footer-row {
  margin-left: 0px;
  margin-right: 0px;
}

.payment-receipt-logo-img {
  max-height: 110px !important;
  padding: 6px 16px 0px 18px;
  margin-top: -21px;
  margin-left: -39px;
  height: auto;
  width: auto;
  margin-bottom: -22px;
}

/*****************    Payment receipt print    *****************/
@page 
{
    size:  auto;   /* auto is the initial value */

    margin: 5mm;  /* this affects the margin in the printer settings */
}

html
{
    background-color: #FFFFFF; 
}

@media print
{
    body {
      -webkit-print-color-adjust: exact !important; 
    }
    #printarea { display: block; }
    #non-printarea { display: none; }
    #datatable-info th
    {
      color: #000 !important;
      background-color: #e8e8e8 !important;
      font-weight: bold;
      height: 30px;
      font-size: 12px;
      padding-left: 10px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      vertical-align: bottom;
    }

    #receipt_print { display: block; }
}

/**********   Payment summary (My orders)   *************/
.payment-summary-model {
  top: -70px;
  left: -55px;
}

/************   My order table   ****************/
    #myorder-table
    {
    border-collapse:collapse;
    font-family: arial,verdana;
    }

    #myorder-table th
    {
    color: #000;
    background-color: #e8e8e8;
    font-weight: bold;
    height: 30px;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: bottom;
    } 

    #myorder-table td
    {
    text-align: left;
    vertical-align: middle;
    height: 20px;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    }


  .select-payment-header-para {
    text-align:right; 
    color:red;
    margin-top: -45px;
    padding:10px;
  }
/********      Order details      ************/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {

      .order-detail-alert-dismissible {
        width: 367px;
        margin-left: -10px;
        padding-right: 27px;
      }

      .order-detail-well {
        padding-top: 20px;
        margin-left: 5px;
        width: 367px;
      }

      .order-detail-table-row {
        overflow-x: auto;
      }

      #myorder-table_wrapper {
        overflow-x: auto;
      }

      .select-payment-header-para {
        margin-top: -10px;
      }
  }

/*********   Important pages   ************/
  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
        /***********  show profile   ************/
      .about-us-data, .disclaimer-data, .privacy-policy-data, .terms-of-services-data {
        margin-left: 0px;
        text-align: justify;
        padding-left: 25px;
        padding-right: 15px;
      }

      .slide_img {
        object-fit: cover;      /***** display center of banner on mobile   ******/
      }
  }


  /**************************************************************
                    Secondary Menu Start
  ***************************************************************/

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        /*margin-top: -6px;*/
        margin-left: -1px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
    }

    .secondary-navigation {
        top: 80px;
        margin-top: 7px;
        border-radius: 0px;        
        border-bottom : none !important;
        border-right : none !important;
        border-left : none !important;
        position: absolute;
        width: -webkit-fill-available;
    }

    .dropdown-menu > li > a {
      padding: 12px 20px;
      margin-top: -5px;
    }

    /*.dropdown-menu:hover {
        margin: 0; 
    }*/

    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
          /***********  show profile   ************/
        .secondary-navigation {
            top: 55px;
        }

        .admin_start_section {
          margin-top: 135px;
        }

        .secondary-navigation-ul {
          padding-left: 25px;
        }

        .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
          padding: 16px 15px 13px 25px;
        }

        .admin-start-section {
          margin-top: -25px !important;
        }

        .update-section {
          margin-top: 190px;
        }

        .sidebar-links {
          padding-left: 30px;
        }
        
        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background: transparent;
        }
    }

    .sidebar-links {
      width: 215px;
    }
  /**************************************************************
                    Secondary Menu Start
  ***************************************************************/


  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
          /***********  show profile   ************/
        #Add-New-Email-Template {
          margin-left: -183px;
          margin-right: 4px;
        }

        #Add-New-Email-Template .modal-body {
          padding: 15px;
          padding-right: 94px;
        }

        .payment-summary-table {
          padding: 20px;
        }

        .admin-change-password-section {
          margin: 0px auto !important;
          padding: 0px;
        }

        .admin-change-password-start {
          margin-top: 80px !important;
        }

        .secondary-navigation-member {
          height: 55px !important;
        }
    }

  .admin-change-password-start {
    margin-top: -73px;
  }

  .btn_reset_password_Member,.admin-view-profile {
    margin-top: -65px;
  }

  .thumb-info .thumb-info-type {
    width:108%;
  }

  .my-pictures-div {
    margin-left:-35px;
  }
/***************************      Member settings      **********************/
  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
        .secondary-navigation-ul {
          padding-bottom: 10px;
        }
          /***********  show profile   ************/
        .btn_reset_password_Member,.admin-view-profile {
          margin-top: 4px;
        }

        #EditProfileModel {
          margin-left: -185px;
          margin-right: 2px;
          padding-right: 93px;
        }

        .member-profile-edit {
          margin-top: 15px !important;
        }

        .message_chat_div {
          width: 105%;
          margin-left: -19px;
        }

        .inbox_msg {
          width: 368px;
          margin-left: -34px;
        }

        .Add-New-Member {
          top: 105px;
        }

        .thumb-info .thumb-info-type {
          width:108% !important;
        }

        .main-section-start {
          margin-top: 100px;
        }

        .payment-summary-model {
              top: -70px;
              left: -335px;
              right: 3px;
        }

        .membership-plan-model {
          width: 392px;
        }

        .thumb-info .thumb-info-type {
          width: 107% !important;
        }

        .croppie-container .cr-boundary {
          width: 335px !important;
          height: 350px !important;
          margin-left: -6px !important;
        }

        .my_photos_upload {
          margin-top: -25px;
        }

        .invite-friends-table-data {
          margin-left: -35px;
        }

        .report-abuse-table-data {
          margin-left: -33px;
          margin-right: -13px;
        }


    }    

/*****************    Advanced Filter    *********************/

  .search-profile-id {
    margin-top: 8px;
  }

  .secondary-navigation-member {
    height: 50px;
  }

  .advanced-search-body {
    padding: 0px;
    border: none;
    background-color: #cfcfcf;
  }

  .advanced-filter-elements {
    margin-top: 15px;
  }

  .filter-panel {
    margin-top: -50px;
    margin-left: -45px;
    border: none;
    padding: 13px 5px 5px 5px;
  }

  .filter-col{
      padding-left:10px;
      padding-right:10px;
      margin-top:20px;
  }

  .adv-search-result {
      margin-top: -65px;
      margin-left: -100px;
    }

  #filter-close {
    display:none;
    margin-top: -150px;
    margin-right: 10px;
    z-index:1010;
    clear:both;
  }

  .filter-result {
    margin-top: 30px;
  }

  .advanced-search-close-button {
    margin-top: -20px;
    margin-right: 10px;
    text-align: -webkit-right;
  }

  .advanced-search-close-button {
    
  }

  #filter-open {
    margin-top: -45px;
  }

  .navbar-collapse.collapse {
    margin-top: 13px;
  }

  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
          
        /***********  show profile   ************/
        
        .filter-panel {
          margin-top: -3px;
          margin-left: -18px;
          border: none;
          padding: 4px;
        }

        .advanced-search-body {
          margin-top: -103px;
          border: none;
        }

        .adv-search-result {
          margin-left: -30px;
        }

        .advanced-search-close-button {
          margin-top: 15px;
          margin-right: 10px;
        }

        #filter-close {
          margin-top: -85px;
          margin-right: 14px;

        }

        #filter-open {
          margin-bottom: 15px;
        }

        .logo-container {
          width:50%;
        }

        .navbar-collapse.collapse {
          margin-top: 0px;
          border-top:none;
        }

        .header {
          height: 69px;
        }

        .advanced-search-preference {
          margin-left: -30px;
        }

        .my-profile-data {
          margin-left: -35px;
        }

        .homepage-data {
          margin-top: -20px;
        }

        .matched-profiles-categorywise {
          margin-left: -50px;
        }
    } 

  .secondary-navigation-ul {
        margin: -13px;
  }

/****************     Wedding directory    *************/
  .category-links {
    text-decoration:none !important;
    color:#000000 !important;
  }

  .vendor-category-list-panel {
    padding:15px;
    border: 1px solid #dddddd;;
  }

  .category-details-card {
    max-width: 100%;
  }

  .similar-vendors-panel {
    padding-top: 10px;
  }

  .wedding-input-row {
    margin-top:15px;
  }

  .danger-text {
    color:red;
    font-weight: bold;
  }

  .vendor-enquiry-model {
    top:-100px;
  }

  .vendor-data {
    padding-left:40px;
    padding-right:40px;
  }

  #update-profile {
    left: -130px;
  }

  .btn-secondary {
    margin-top:10px;
  }

  .inquiry-info-row {
    margin-top:15px;
  }

  .vendor-change-password {
    margin-bottom: 100px;
  }

  .add-new-member-modal {
    top: -125px;
  }

  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
      .vendor-data {
          padding-left: 15px;
          padding-right: 15px;
      }

      .vendor-home-cards {
        width:315px;
      }
  }

.dropdown-menu {
  padding-top:5px;
  padding-bottom:0px;
}

@media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
      .logged_in_user {
        font-weight: bolder;
      }
  }

/***********  FAQs   *********/
.ing {
  text-decoration:none !important;
  color:#000 !important;
}

.vendor-category-info {
  background-color: #f0f0f0;
}

.vendor-gallary {
  width: 200px;
  height: auto;
  margin-top:10px;
}

.btn-block-unblock {
  margin-top:10px;
}

@media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
      .main-body-section {
        width:96%;
        padding-left:10px;
      }

      .vendor-section {
        width:96%;
        padding-left:10px;
      }

      .vendor-enquiry-model {
        top: 65px;
      }
  }


/*   admin view transaction orders   */

  table.form {
    background-color: #fff;
    margin: 0 0 5px 0;
    padding: 0;
    border: 3px solid #e2e7e9;
    border-collapse: separate;
    border-spacing: 2px;
    border-radius: 4px;
  }

  table.form td.fieldlabel {
    background-color: #fff;
    text-align: right;
  }

  table.form td.fieldarea {
    background-color: #efefef;
    text-align: left;
  }

  table.form td {
    padding: 10px 8px;
  }

  .order-details {
    background-color:#f0f0f0 !important;
    padding:5px !important;
  }
  
  /********   Load more button   *********/
  #btn_more {
    width:25%;
  }

  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
      #btn_more {
      width:75%;
    }
  }