/********  Header Start  *********/
.header {
  border-bottom: 1px solid #ab47bc;
  border-top: 3px solid #EDEDED;
  z-index: 1000;
  margin-top: -4px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .header {
    height: 96px;
  }

  #intro1 {
    margin-top: 125px !important;
  }
} 

.header .logo {
  float: left;
  margin: 5px 0 0 15px;
}

.header .logo img {
  color: transparent;
}

.logo-img {
  max-height: 110px !important;
  padding: 6px 16px;
  margin-top: -22px;
  margin-left: -39px;
  height: auto;
  width: auto;
}

.default-logo {
  margin-top: -12px;
}

@media only screen and (max-width: 767px){
.header .logo-container {
    height: 60px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
  }

  .logo-img-admin {
    margin-top: -28px;
  }
}
/********  Header End  *********/

/*******    Default Logo Text start    **********/
.default-logo-text {
  color: #ffffff;
  font-size: xx-large;
}
/*******    Default Logo Text End    **********/

/******    Top navigation links Start  ******/
.top_nav_links {
  font-weight: bolder;
  margin-top: 7px;
}
/******    Top navigation links End  ******/


/******    Top navigation links hover start   ******/
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color:black;
  /*font-size:16px;*/
  }
/******    Top navigation links hover end   ******/


/*********    Homepage bannner start  ********/
  
  .slide_img {
    width: 100%;
    height: auto;
  }


  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
    .slide_img
    {
      height: 380px;      
    }
    #intro1 
    {
      margin-top: 86px !important;
    }

    .nano {
      margin-top: 15px;
    }

    .skyscrapper-ad {
      display:none;
    }
} 

#intro1 
{
  margin-top: 85px;
}
/*********    Homepage bannner start  ********/


/******    Sidebar in user/admin section start  ******/
.sidebar-left {
  margin-top: 22px;
  vertical-align: top;
  width: 280px;
  z-index: 1010;
}

/******    Sidebar in user/admin section end  ******/


/*******    Page Footer start ********/
.footer-div {
  font-weight: bolder;
  text-align:center;
  margin-left: -15px;
  margin-right: -15px;
}

/*******    Page Footer end ********/


/********    Header Tags  start  **********/
h1{
  color: black;
  font-family: arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

h2{
  color: black;
  font-family: arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

h3{
  color: black;
  font-family: arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

h4{
  color: black;
  font-family: arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

h5{
  color: black;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

h6{
  color: black;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

/********    Header Tags  End  **********/


/********     Profile Filters    ***********/

.profile-filter-heading {
  color:#ab47bc;
}

.info {
  color:#000;
}
