      <script>
         $(document).ready(function(){
            $('.custom_content_section_data').richText();
            $('.footer_section_data').richText();
         });
      </script>



       <textarea class='custom_content_section_data' rows='15'></textarea>


        <textarea class='footer_section_data' rows='15'></textarea>